@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1f2e55;
	font-weight: 900;
}

body {
	margin: 0;
	color: #717fa6;
	font-family: 'Red Hat Display', sans-serif;
}

main {
	/* layout */
	padding: 5vh 0;
	/* background */
	height: 100vh;
	background: url('./images/pattern-background-desktop.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.card {
	/* layout */
	margin: 0 auto;
	max-width: 450px;
	width: 90%;

	border-radius: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	transform: translateY(0);
	transition: transform 400ms ease-in-out;
	box-shadow: 0 1em 1em #d6e1ff;
	text-align: center;
}

.card__image {
	border-radius: 20px 20px 0 0;
	flex: 1;
	width: 100%;
}

.card__body {
	padding: 0 48px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.card__title {
	font-size: 1.75rem;
	margin-top: 1em;
	margin-bottom: 0;
}

.payment-plan {
	background: #f7f9ff;
	padding: 1em;
	border-radius: 11px;
	display: flex;
	align-items: center;
	margin-bottom: 2em;
	cursor: pointer;
}

.payment-plan__interval {
	margin: 0;
	line-height: 1.3125;
	text-align: start;
	line-height: 1.6;
	color: #1f2e55;
	font-weight: 900;
}
.payment-plan__price {
	margin: 0;
}

.icon--music {
	width: 3em;
	height: 3em;
}

.link--change {
	margin-left: auto;
	color: #382ae1;
	font-size: 1rem;
	font-weight: 500;
}

.change:hover {
	text-decoration: none;
	color: #766cf1;
}

.col {
	display: block;
	margin-left: 1.5em;
}

.btn {
	width: 100%;
	font-size: 1rem;
	padding: 1em 0;
	border-radius: 1em;
	text-decoration: none;
	font-weight: 900;
	margin-bottom: 1em;
}

.btn--payment {
	color: #ffffff;
	background: #382ae1;

	box-shadow: 0px 1em 1em rgba(56, 42, 225, 0.190291);
}

.payment:hover {
	background: #766cf1;
}

.btn--cancel {
	color: #717fa6;
	text-decoration: none;
	font-weight: 900;
	margin-bottom: 2em;
}
.cancel:hover {
	color: #1f2e55;
}

@media (max-width: 640px) {
	html {
		font-size: 80%;
	}
}
