@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1f2e55;
	font-weight: 900;
}

p {
	color: #717fa6;
	font-weight: 500;
}

body {
	background: url('./images/pattern-background-desktop.svg');
	background-repeat: no-repeat;
	background-size: auto;
	background-color: #e0e8ff;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Red Hat Display', sans-serif;
}

.card {
	width: 450px;
	border-radius: 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	transform: translateY(0);
	transition: transform 400ms ease-in-out;
	box-shadow: 0 1em 1em #d6e1ff;
}

.card-img-top {
	border-radius: 20px 20px 0 0;
	flex: 1;
	width: 100%;
}

.card-body {
	padding: 40px 48px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.card-body h1 {
	font-size: 28px;
	margin-bottom: 17px;
}

.card-body p {
	color: #717fa6;
	font-style: normal;
	font-size: 16px;
	line-height: 1.625;
	margin-bottom: 20px;
}

.price {
	background: #f7f9ff;
	padding: 25px 24px;
	border-radius: 11px;
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.price img {
	width: 3em;
	height: 3em;
}

.price a {
	margin-left: auto;
	color: #382ae1;
	font-size: 14px;
	font-weight: 500;
}

.col {
	display: block;
	margin-left: 20px;
}

.col p {
	margin: 0;
	line-height: 1.3125;
	text-align: start;
	line-height: 1.6;
}

.col p:first-of-type {
	color: #1f2e55;
	font-weight: 900;
}

.btn {
	width: 100%;
	font-size: 15px;
	padding: 1em;
	border-radius: 11px;
}
.btn {
	text-decoration: none;
	font-weight: 900;
}

.payment {
	color: #ffffff;
	background: #382ae1;
	margin-bottom: 2em;
	box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.cancel {
	color: #717fa6;
	text-decoration: none;
	font-weight: 900;
}
